node_modules
dist
bower_components
coverage/
.tmp
.publish/

# generated js js.map files
app/components/*.js
app/services/*.js
*.js.map
*.d.ts

# downloaded typing files
typings

# generated config.js
app/config.js

.idea

npm-debug.log
