<!-- On form submit, we call the Login event with the username and the password from the inputs -->
<div class="ubcidm-login-wrapper row">

    <div class="ubcidm-login-logo-container col col-6">

        <span class="ubcidm-login-logo">
            <a href="" title="">
                <img src="images/identity-detective.png" alt="Identity Mapping Logo" />
            </a>
        </span>

    </div><!-- .ubcidm-login-logo-container -->

    <div class="ubcidm-login-form-container col col-6">

        <div class="ubcidm-login-and-instructions-container">

            <p class="sign-in-instructions">Sign in to <strong>ID</strong>entity Detective</p>

            <form class="ubcidm-login-form" (submit)="login($event, username.value, password.value)">
                <!-- <label for="username">Username</label> -->
                <!-- Using #username, we can identify this input to get the value on the form's submit event -->
                <!-- <input type="text" #username class="form-control" id="username" placeholder="Username"> -->
                <paper-input class="form-control" id="username" label="Username"></paper-input>
                <!-- <label for="password">Password</label> -->
                <!-- Using #password we can identify this input to get its value -->
                <!-- <input type="password" #password class="form-control" id="password" placeholder="Password"> -->
                <paper-input class="form-control" id="password" label="Password" type="password"></paper-input>
                <!-- <button type="submit">Submit</button> -->
                <paper-button class="button ubcidm-login-button">
                    <span class="button-text">Submit</span>
                </paper-button>
            </form>

        </div><!-- .ubcidm-login-and-instructions-container -->

    </div><!-- .ubcidm-login-form-container -->

</div><!-- .ubcidm-login-wrapper -->
