<section id="ubc-idmapping-content-root">

    <header>
        <h1>Reveal hidden student identities in external learning tools.</h1>
    </header>

    <main>

        <ul class="ubcidm-filters">

            <li>

                <div class="ubcidm-filter-container ubcidm-where">

                    <div class="tool-id large-number">
                        <p>1.</p>
                    </div><!-- large-number -->

                    <label for="ubcidm-tool-select" class="ubcidm-directions">Where to Search *</label>
                    <paper-dropdown-menu label="- Select a learning tool -" (iron-select)="selectedTool=$event.target.selectedItem.innerText" noink no-animations>
                        <paper-menu class="dropdown-content" name="ubcidm-tool-select" id="ubcidm-tool-select">
                            <paper-item *ngFor="#tool of linkedTools">{{tool}}</paper-item>
                        </paper-menu>
                    </paper-dropdown-menu>

                    <div>
                        Or
                        <paper-button raised class="add-button">
                            <iron-icon icon="add"></iron-icon>
                            Add a Tool
                        </paper-button>
                    </div>

                </div><!-- .ubcidm-filter-container ubcidm-where -->

            </li>
            <li>

                <div class="ubcidm-filter-container ubcidm-what">

                    <div class="tool-id large-number">
                        <p>2.</p>
                    </div><!-- large-number -->

                    <label for="ubcidm-what-select" class="ubcidm-directions">What to Find *</label>
                    <paper-dropdown-menu id="ubcidm-what-select" name="ubcidm-what-select" label="- Select the results you want -" (iron-select)="selectedFunction=$event.target.selectedItem.innerText">
                        <paper-menu class="dropdown-content">
                            <paper-item *ngFor="#func of functions">{{func}}</paper-item>
                        </paper-menu>
                    </paper-dropdown-menu>

                </div><!-- .ubcidm-filter-container ubcidm-what -->

            </li>

        </ul>

        <div class="ubcidm-search-container">

            <div class="tool-id large-number">
                <p>3.</p>
            </div><!-- large-number -->

            <p class="ubcidm-directions">Search ...</p>
            <div *ngIf="!(selectedTool && selectedFunction)">
                <p class="ubcidm-directions-sub">Select where to search and what to find first.</p>
            </div>

            <div *ngIf="(selectedTool && selectedFunction)">
                Fill in one* of the following: <br/>
                <paper-input label="UBC Student ID"></paper-input>
                <paper-input label="EdX Username"></paper-input>
                <paper-input label="Student Email"></paper-input>
                <paper-input label="PUID (Personal Unique ID)"></paper-input>

                <paper-button raised class="custom indigo" (click)="search()">Submit</paper-button>
                {{listResult | async | json}}
            </div>

        </div><!-- .ubcidm-search-container -->

    </main>

</section>
