1.
<paper-dropdown-menu label="Where to search" (iron-select)="selectedTool=$event.target.selectedItem.innerText">
  <paper-menu class="dropdown-content">
    <paper-item *ngFor="#tool of linkedTools">{{tool}}</paper-item>
  </paper-menu>
</paper-dropdown-menu>


2.
<paper-dropdown-menu label="What to Find" (iron-select)="selectedFunction=$event.target.selectedItem.innerText">
  <paper-menu class="dropdown-content">
    <paper-item *ngFor="#func of functions">{{func}}</paper-item>
  </paper-menu>
</paper-dropdown-menu>

<div>
  Or
  <paper-button raised class="add-button">
    <iron-icon icon="add"></iron-icon>
    Add a Tool
  </paper-button>
</div>
<hr>

3. Search ...
<div *ngIf="!(selectedTool && selectedFunction)">
  Select where to search and what to find first
</div>


<div *ngIf="(selectedTool && selectedFunction)" id="search-section">
  Fill in one* of the following: <br/>
  <paper-input label="UBC Student ID" ngDefaultControl [(ngModel)]="query.student_id"></paper-input>
  <paper-input label="EdX Username" ngDefaultControl [(ngModel)]="query.edx_username"></paper-input>
  <paper-input label="Student Email" ngDefaultControl [(ngModel)]="query.email"></paper-input>
  <paper-input label="PUID (Personal Unique ID)" ngDefaultControl [(ngModel)]="query.puid"></paper-input>

  <paper-button raised class="custom indigo" (click)="search()">Submit</paper-button>

  <div>
    <table>
      <tr>
        <td>Name</td>
        <td>Student ID</td>
        <td>Tool Username</td>
        <td>Email</td>
        <td>User ID (PUID)</td>
      </tr>
      <tr *ngFor="#person of listResult | async">
        <td>{{person.first_name}} {{person.last_name}}</td>
        <td>{{person.student_number}}</td>
        <td>{{person.edx_username}}</td>
        <td>{{person.email}}</td>
        <td>{{person.user_id}}</td>
      </tr>
    </table>
  </div>
</div>

