<section id="ubc-idmapping-content-root" class="ubcidm-content ubcidm-content-root">

  <header>
    <h1>Reveal hidden student identities in external learning tools.</h1>
  </header>

  <main>

    <ul class="ubcidm-filters row">

      <li class="col col-span-6">

        <div class="ubcidm-filter-container ubcidm-where">

          <div class="where-id large-number">
            <p>1</p>
          </div><!-- large-number -->

          <label for="ubcidm-tool-select" class="ubcidm-directions">Where to Search *</label>
          <mat-form-field>
            <mat-select [(value)]="selectedTool" placeholder="- Select a learning tool -" id="ubcidm-tool-select">
              <mat-option *ngFor="let tool of linkedTools" [value]="tool">
                {{ tool }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!--<div class="ubcidm-add-a-tool-container">-->
            <!--<span class="add-a-tool-desc">or</span>-->
            <!--<button mat-button class="add-button">-->
              <!--<iron-icon icon="add"></iron-icon>-->
              <!--<span class="add-a-tool button-text">Add a Tool</span>-->
            <!--</button>-->
          <!--</div>-->

        </div><!-- .ubcidm-filter-container ubcidm-where -->

      </li>
      <li class="col col-span-6">

        <div class="ubcidm-filter-container ubcidm-what">

          <div class="what-id large-number">
            <p>2</p>
          </div><!-- large-number -->

          <label for="ubcidm-what-select" class="ubcidm-directions">What to Find *</label>
          <mat-form-field>
            <mat-select [(value)]="selectedFunction" placeholder="- Select the results you want -" (selectionChange)="onFunctionSelected($event.value)" id="ubcidm-what-select" name="ubcidm-what-select">
              <mat-option *ngFor="let func of functions" [value]="func">
                {{ func }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div><!-- .ubcidm-filter-container ubcidm-what -->

      </li>

    </ul>

    <div class="ubcidm-search-container">

      <div class="filter-id large-number">
        <p>3</p>
      </div><!-- large-number -->

      <p class="ubcidm-directions">Search ...</p>
      <router-outlet></router-outlet>



    </div><!-- .ubcidm-search-container -->

  </main>

</section>
