<div class="ubcidm-search-inputs-container" id="search-section">
  Fill in <strong>one</strong>* of the following: <br/>

  <div class="ubcidm-search-inputs">
    <mat-form-field>
      <input matInput id="student_id" name="student_id" [(ngModel)]="query.student_id" placeholder="UBC Student ID" type="text"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="username" name="username" [(ngModel)]="query.edx_username" placeholder="Edx Username" type="text"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="email" name="email" [(ngModel)]="query.email" placeholder="Student Email" type="text"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="puid" name="puid" [(ngModel)]="query.puid" placeholder="PUID (Personal Unique ID)" type="text"/>
    </mat-form-field>
  </div>

  <div class="ubcidm-form-submit">
    <button mat-button class="custom indigo main-form-search" (click)="search()">
      <span class="button-text">Submit</span>
    </button>
  </div>
  <!-- {{listResult | async | json}} -->

  <div class="ubcidm-search-results-container">

    <table class="table">

      <thead>
      <tr>
        <td>Name</td>
        <td>Student ID</td>
        <td>Tool Username</td>
        <td>Email</td>
        <td>User ID (PUID)</td>
      </tr>
      </thead>

      <tbody>
      <tr class="searc-result-row" *ngFor="let person of listResult | async">
        <td>{{person.first_name}} {{person.last_name}}</td>
        <td>{{person.student_number}}</td>
        <td>{{person.edx_username}}</td>
        <td>{{person.email}}</td>
        <td>{{person.user_id}}</td>
      </tr>
      </tbody>

    </table>

  </div><!-- .ubcidm-search-results-container -->

</div><!-- .ubcidm-search-inputs-container -->
